<div class="payment-icons">
  <ul class="inline-list{% if classes != blank %} {{ classes }}{% endif %}">
    <li><img src="{{ 'apple-pay.svg' | asset_url }}" alt="Apple Pay" class="payment-icon"></li>
    <li><img src="{{ 'google-pay.svg' | asset_url }}" alt="Google Pay" class="payment-icon"></li>
    <li><img src="{{ 'visa.svg' | asset_url }}" alt="Visa" class="payment-icon"></li>
    <li><img src="{{ 'mastercard.svg' | asset_url }}" alt="Mastercard" class="payment-icon"></li>
  </ul>
</div>

